*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-padding-top: 5rem;
}
.home{
    background-image: url(images/home-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height:100vh;
}
.about h1{
    margin-top: 50px;
    position: absolute;
    margin-left: 20px;
}
.about p{
    margin-top: 120px;
    position: absolute;
    margin-left: 20px;
}
.about button{
    margin-top: 210px;
    position: absolute;
    margin-left: 30px;
    padding: 10px 20px;
    border: none;
    color: white;
    border-radius: 5px;
}
